@model IEnumerable<WebKN.Entities.UsuarioEnt>

@{
    ViewBag.Title = "ConsultaUsuarios";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Información de Usuarios</h4>

            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Identificación</th>
                        <th>Nombre</th>
                        <th>Correo Electrónico</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Identificacion</td>
                            <td>@item.Nombre</td>
                            <td>@item.Correo</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
</div>